body {
    background-color: #054c8a;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #2d8adb;
    color: #100f0f;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 150px;
    margin-top: 100px;
}


#contacto {
    display: flex;
    justify-content: space-between;
}