body {
    background-color: #4b4949;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    color: #333;
}

.cursos {
    max-width: 1200px;;
    margin: auto;
    padding: 20px;
    background: rgb(137, 133, 133);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 .cursos h2 {
    text-align: center;
    color: #444;
 }

 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
 }

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #222;
    color: white;
}


tr:nth-child(even) {
    background-color: #aeacac;
}